<div class="container py-4 my-4">
    <div>
        <h3 class="text-center">{{ pageTitle }}</h3>
    </div>
    <div class="container py-4">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstname">First Name</label>
                    <input name="firstName" type="text" class="form-control" id="inputFirstName" required ngModel>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input name="lastName" type="text" class="form-control" id="inputLastName" required ngModel>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required ngModel>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity" required ngModel>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input name="state" type="text" class="form-control" id="inputState" required ngModel>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input name="zip" type="text" class="form-control" id="inputZip" required ngModel>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input name="email" type="email" class="form-control" id="inputEmail4" required ngModel>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPhone">Phone Number</label>
                    <input name="phone" type=tel class="form-control" id="inputPhone" required ngModel>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputsurveryDate">Date of Survey</label>
                    <input name="date" type="date" class="form-control" id="inputSurveryDate" required ngModel>
                </div>
            </div>
            
            <p> What do you like most about the campus?</p>
            
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkStudents">
                    <label class="form-check-label" for="checkStudents">Students</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkLocation">
                    <label class="form-check-label" for="checkLocation">Location</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkCampus">
                    <label class="form-check-label" for="checkCampus">Campus</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkAtmosphere">
                    <label class="form-check-label" for="checkAtmosphere">Atmosphere</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkDormrooms">
                    <label class="form-check-label" for="checkDormrooms">Dorm rooms</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkSports">
                    <label class="form-check-label" for="checkSports">Sports</label>
                </div>
            </div>
            
            <p> How do you become interested in the campus?</p>
            
            <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" id="radioFriends" name="interestRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radioFriends">Friends</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="radioTelevision" name="interestRadio" class="custom-control-input">
                    <label class="custom-control-label" for=radioTelevision>Television</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="radioInternet" name="interestRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radioInternet">Internet</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="radioOther" name="interestRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radioOther">Other</label>
                </div>
            </div>
            
            <p> What's the likelihood of you recommending this school to other prospective students?</p>
            
            <div class="form-group">
                <select class="custom-select">
                    <option value="very-likely">Very Likely</option>
                    <option value="likely">Likely</option>
                    <option value="unlikely">Unlikely</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputRaffle">Raffle</label>
                <input type="range" class="form-control" id="inputRaffle" min="1" max="100" step="1">
            </div>
            <div class="form-group">
                <label for="additionalComment">Additional Comments</label>
                <textarea class="form-control" id="additionalComment" rows="3"></textarea>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="from-group ml-auto">
                    <button type="cancel" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
