<div class="container py-4 my-4">
    <div>
        <h3 class="text-center">{{ pageTitle }}</h3>
    </div>
    <div class="container py-4">
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstname">First Name</label>
                    <input formControlName="firstName" type="text" class="form-control" id="inputFirstName" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" id="inputLastName" required>
                </div>
            </div>
            <div formGroupName="contactInfo">
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input formControlName="city" type="text" class="form-control" id="inputCity" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <input formControlName="state" type="text" class="form-control" id="inputState" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input formControlName="zip" type="text" class="form-control" id="inputZip" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="inputEmail4" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhone">Phone Number</label>
                        <input formControlName="phone" type=tel class="form-control" id="inputPhone" required>
                    </div>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputsurveryDate">Date of Survey</label>
                    <input formControlName="date" type="date" class="form-control" id="inputSurveryDate" required>
                </div>
            </div>
            
            <p> What do you like most about the campus?</p>
            <div class="form-group" formArrayName="likedAboutCampus">
                <div class="form-check" *ngFor="let liked of likedAboutCampus; let i = index">
                    <input class="form-check-input" type="checkbox" [id]="i" [formControlName]="i">
                    <label class="form-check-label" [for]="i">{{ liked }}</label>
                </div>
            </div>
            
            <p> How do you become interested in the campus?</p>
            <div class="form-group">
                <div *ngFor="let interest of interestsInCampus; let i = index" class="custom-control custom-radio">
                    <input formControlName="interestsInCampus" [value]="interest" type="radio" [id]="interest" class="custom-control-input">
                    <label class="custom-control-label" [for]="interest">{{ interest }}</label>
                </div>
            </div>
            
            <p> What's the likelihood of you recommending this school to other prospective students?</p>
            <div class="form-group">
                <select formControlName="likelyToRecommend" class="custom-select">
                    <option value="very-likely">Very Likely</option>
                    <option value="likely">Likely</option>
                    <option value="unlikely">Unlikely</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputRaffle">Raffle</label>
                <input formControlName="raffle" type="range" class="form-control" id="inputRaffle" min="1" max="100" step="1">
            </div>
            <div class="form-group">
                <label for="additionalComment">Additional Comments</label>
                <textarea formControlName="comments" class="form-control" id="additionalComment" rows="3"></textarea>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="from-group ml-auto">
                    <button type="cancel" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
